.header {
  /* background: rgb(59, 32, 82);
  background: linear-gradient(90deg, rgba(59, 32, 82, 1) 50%, rgba(210, 200, 228, 1) 100%); */
  /* background: linear-gradient(to top right, #993399 -127%, #000000 90%); */
  background: linear-gradient(to top right, #993399 -127%, #000000 90%);
  padding: 10px auto;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-logo {
  width: auto;
  max-height: 75px;
}

.app-name {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
}

.app-name:hover {
  text-decoration: none !important;
  transition-delay: 0.1s;
}

.logo-container, .appname-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appname-container {
  padding-left: 0 !important;
}

.links-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logout-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0 !important;
}

.login-register {
  padding-right: 5px;
  text-align: right;
  color: white;
  text-decoration: none;
  margin: 0;
}

.login-register:hover {
  color: white;
  text-decoration: none;
}

.logout {
  padding-right: 5px;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
}

.logout:hover {
  color: white;
  text-decoration: none;
}

.add-movie {
  padding-right: 5px;
  text-align: right;
  color: white;
  text-decoration: none;
  margin: 0;
}

.add-movie:hover {
  color: white;
  text-decoration: none;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 10px 25px 10px;
}

.search-container input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 15px;
  border-color: transparent;
  background-color: #d8c6e7;
  color: white;
}

.search-container input:focus {
  outline: none;
  border-color: transparent;
}

.search-container input::placeholder {
  color: white;
}