@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60px;
  height: 60px;
}

.movie-description {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: medium;
  list-style-type: none;
  background-color: #b6bdb41e;
  color: hsl(39, 66%, 57%);
  margin-left: 0px;
  margin-top: 5%;
  border-radius: 20px;
  width: 50vw;
  height: 40vh;
  padding-left: 2%;
}

.posters {
  display: flex;
  margin: 1%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  width: 35vw;
  height: 45vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.movie-title {
  margin-top: 5%;
  color: aliceblue;
  font-weight: 900;
  padding: 2%;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.loading {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
}

.button {
  margin-top: 20px;
  padding: 5px;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  border-style: none;
  margin-left: 5%;
  background-color: #b6bdb41e;
  color: hsl(39, 66%, 57%);
}

.button-del {
  margin-top: 20px;
  padding: 5px;
  width: 130px;
  height: 40px;
  border-radius: 50px;
  border-style: none;
  margin-left: 65%;
  background-color: #b6bdb41e;
  color: hsl(39, 66%, 57%);
}

.imdbRating {
  color: hsl(0, 0%, 96%);
  margin-top: 10%;
  padding-top: 3%;
  padding-left: 5%;
}

.imdbRating .rating {
  color: hsl(39, 66%, 57%);
  font-size: 30px;
}

.movie-des {
  font-size: 17px;
  padding-left: 10px;
  color: rgb(202, 202, 202);
}

.movie-des-plot {
  font-size: 15px;
  padding-left: 10px;
  color: rgb(202, 202, 202);
}

.exit {
  display: flex;
  justify-content: center;
  background-color: #b6bdb41e;
  color: hsl(39, 66%, 57%);
  border-style: none;
  border-radius: 50px;
  font-size: 20px;
  padding-top: 5px;
  margin-top: 2%;
  width: 40px;
  height: 40px;
}
