*{
    margin: 0;
    padding: 0;
}

.mainSearchContainer{
    display: flex;
    align-items: flex-start;
}

.searchBox{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: purple;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;
    margin-bottom: 15px;
}
.searchBox p{
    font-weight: 600;
    margin-top: 5px;
}
.searchBox input{
    text-align: center;
}

.searchButton{
    margin-top: 15px;
    margin-bottom: 15px;
    color: purple;
    background-color: white;
    font-weight: bold;
}

.searchButton:hover{
    color: white;
    background-color: purple;
    font-weight: bold;
}

.movieHeading{
    color: white;
    font-weight: bold;
    text-align: center;
}

.moviesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;
}

.oneMovieContainer{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 5%;
    margin: 5px 5px;
    text-align: center;
    padding: 20px;
}
.oneMovieContainer img{
    width: 85%;
    height: 85%;
}

.oneMovieContainer p{
    font-weight: bold;
    color: purple;
}

.oneMovieContainer:hover{
    cursor: pointer;
}

.mainContainerSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0px;
    flex-direction: column;
}

.form-control{
    margin: 10px 0px;
}